@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
	user-select: none;
	height: 100%;
	margin: 0;
	padding: 0;
}

#content {
	width: 1080px;
	height: 100%;
}

#bg {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(35, 31, 32, .9);
}

#boardForm {
	width: 900px;
	height: 700px;
	background-color: #f9f9f9;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -450px;
	margin-top: -350px;
	display:none;
	padding-top: 5px;
}
#boardForm h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px; 
}

body>#standalone-container {
	margin: 50px auto;
	max-width: 500px;
}

#editor-container {
	height: 500px;
}

.fa-times-circle {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.fa-times-circle:hover {
	color: red;
}

#boardFormBtn {
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	position: absolute;
	right: 15px;
	bottom: 20px;
	background-color: #F9AC1A;
	color: #f9f9f9;
	cursor: pointer;
}