@charset "UTF-8";
body{
    font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
    user-select:none;
}

/*
페이징 CSS
*/
.paginate {
	font-size:22px;
	text-align:center;
	height:50px;
	line-height:50px;
	font-weight:500;
	margin: 10px;
}

.paginate a, 
.paginate span,
.paginate strong{
	color:#858585;
	text-decoration:none;
	padding:5px 10px;
	border:1px solid transparent;
	transition:.1s ease;
}

.paginate span {
	border-color:#E1E1E1;
	cursor: not-allowed;
}

.paginate a:hover {
	background:#14BAB6;
	border-color:#fff;
	font-weight:bold;
	color:#fff;
}

.paginate strong {
	background:#f9ac1a;
	border-color:#f9ac1a;
	color:#fff;
	cursor: not-allowed;
	font-weight:bold;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}