html{
    overflow-y:scroll;
}
body{
    font-family: 'Noto sans KR', sans-serif;
    background:#eef0f3;
}
/*전체*/
#faqSection{
    width: 750px;
    min-height: 450px;
    background: #fafafa;
    margin: auto;
    position: relative;
    box-shadow: 0 6px 6px -6px #424242;
    border: 2px solid #dedede;
    user-select: none;
    top: 100px;
    margin-bottom: 200px;
}
/*faq 상단 부분*/
#faqTitleWrap{
    width: 710px;
    height: 60px;
    background: #fafafa;
    position: relative;
    left: 20px;
    font-size: 32px;
    font-weight: bold;
    line-height: 60px;
    text-indent: 30px;
    border-bottom: 2px solid #212121;
}
/*faq 내용 부분*/
/*paginate 를 처리하려면 height 값을 조절해주세요!*/
#faqContentWrap{
    width: 750px;
    min-height: 450px;
    background: #F5F5F5;
    position: relative;
}
/*paginate 부분*/
#faqPaginateWrap{
    width: 750px;
    height: 55px;
    background: #fafafa;
    position: relative;
    text-align: center;
}
/*paginate txt*/
#faqPaginateWrap>span{
    font-size: 12px;
    line-height: 55px;
}


/*faq 하단부분*/
#faqBottomWrap{
    width: 710px;
    height: 100px;
    background: #fafafa;
    position: relative;
    text-align: center;
    border-top: 2px solid #212121;
    left: 20px;
}
/*faq 하단부분에서 txt */
.solution_txt{
    display: inline-block;
    position: absolute;
    left:35px;
    top:30px;
    color:#424242;
    font-size: 13px;
}
/*faq 하단부분에서 문의하기 버튼 */
.solution_question {
    width: 150px;
    height: 40px;
    background: rgb(249, 172, 26);
    position: absolute;
    right: 160px;
    top: 30px;
    line-height: 40px;
    color: #fafafa;
    font-size: 13px;
    border-radius: 2px;
    box-shadow: 0 6px 4px -8px #424242;
    cursor: pointer;
}
/*faq 하단부분에서 챗봇 버튼*/
.solution_chatbot{
    width: 150px;
    height: 40px;
    background:rgb(249,172,26);
    position: absolute;
    right: 0;
    top: 30px;
    line-height: 40px;
    color: #fafafa;
    font-size: 13px;
    border-radius: 2px;
    box-shadow: 0 6px 4px -8px #424242;
    cursor: pointer;
}
/*faq 하단부분 버튼 호버시*/
.solution_question:hover,.solution_chatbot:hover{
    background:rgba(249,172,26,.9);
}

/*QnA 1개(li) */
.faq_info_item{
    background: #fafafa;
    border-bottom: 1px solid #dedede;
}
/*li안의 div*/
.faq_info_title{
    width: 720px;
    height: 20px;
    padding: 15px;
    cursor: pointer;
}


/*QnA 1개의 번호*/
.item_num{
    width: 20px;
    color: #222222;
    font-size: 15px;
    margin-left:40px;
    display: inline-block;
}
/*QnA 1개의 질문*/
.item_question{
    color: #222222;
    font-size: 17px;
    display: inline-block;
    width: 565px;
    margin-left: 45px;
}
/*클릭시 QnA 질문 폰트 크게*/
.item_question_on{
    font-size: 18px;
    font-weight: bold;
}
/*QnA 1개의 밑 화살표 아이콘(폰트어썸) */
.item_icon{
    color: #212121  ;
    font-size: 20px;
    right: 40px;
    transform: rotate(0deg);
}
/*화살표 위로*/
.item_icon_on{
    transform: rotate(180deg);
}

/*답변 내용*/
.item_answer{
    width: 520px;
    min-height: 0;
    background: #fafafa;
    padding: 5px 110px 40px 120px;

    line-height: 1.8em;
    border-bottom: 1px solid rgb(222,222,222);
    /*padding: 0 110px 0 120px;*/
    /*overflow: hidden;*/
    /*transition: .2s ease;*/
}

/*문의하기 클릭시 팝업창 start------------------------*/

#faqWriteBg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.57);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
/*문의하기 팝업 전체*/
#faqWriteWrap{
    width: 500px;
    min-height: 460px;
    background: #FAFAFA;
    position: fixed;
    left: 50%;
    top:50%;
    margin-left: -250px;
    margin-top: -250px;
    box-shadow: 0 6px 6px -6px #424242;
    display: none;
}
/*문의하기 팝업 상단 부분*/
.faq_write_top{
    width:460px;
    height: 48px;
    background: #fafafa;
    position: relative;
    left: 20px;
    border-bottom: 2px solid #212121;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    text-indent: 20px;
}

/*문의하기 팝업 중간 부분*/
.faq_write_content{
    width: 500px;
    min-height: 345px;
    background: #fafafa;
    position: relative;
}
/*1번쨰, 2번쨰 li*/
.faq_write_content>ul>li{
    width: 500px;
    height: 40px;
    background: #fafafa;
    border-bottom: 1px solid #dedede;
}
/*3번째 li*/
.faq_write_content>ul>li:nth-child(3){
    /*li끼리 height 값이 다르니 나중에 지우기*/
    width: 500px;
    height: 270px;
    background: #fafafa;
    border-bottom: 1px solid #dedede;
}
/*li안 input 을 감싼 div*/
.content_input_box{
    display: inline-block;
    width: 350px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #dedede;
}
/*li안 input*/
.content_input_box>input{
    width: 350px;
    height: 23px;
    border: none;
    outline: none;
    padding: 0;
    margin-top:2px;
}

/*li안에서 공통적으로 사용*/
.content_common{
    font-size: 13px;
    color: #222222;;
    width: 70px;
    height: 40px;
    line-height: 40px;
    margin-left: 40px;
    background: #FAFAFA;
    display: inline-block;
}
/*textarea */
#faqContentInput{
    font-size: 13px;
    color: #222222;
    border: 1px solid #dedede;
    outline: none;
    margin-left: 112px;
    margin-top:-36px;
    width: 341px;
    height: 250px;
    font-family: 'Noto sans KR', sans-serif;
    resize: none;
    padding: 5px 5px 0 5px;
}
/*글자수 카운터*/
#faqContentCounter{
    font-size: 12px;
    color: #999999;
    width: 95px;
    position: absolute;
    bottom: 15px;
    right: 35px;
}


/*문의하기 팝업 하단 부분*/
.faq_write_bottom{
    width: 460px;
    height: 50px;
    background: #fafafa;
    position: relative;
    left: 20px;
    text-align: center;
}
/*문의접수 btn*/
.faq_write_btn{
    outline: none;
    border: none;
    box-sizing: content-box;
    font-family: 'Noto sans KR', sans-serif;
    width: 100px;
    height: 30px;
    background: rgb(249, 172, 26);
    position: absolute;
    right: 15px;
    top: 10px;
    line-height: 30px;
    color: #fafafa;
    font-size: 11px;
    border-radius: 2px;
    box-shadow: 0 6px 4px -8px #424242;
    cursor: pointer;
}
.faq_write_btn:hover{
    background: rgba(249, 172, 26,.9);
}

/*문의하기 클릭시 팝업창 end------------------------*/