@charset "UTF-8";

body{
    font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;;
    background:#231F20;
    width: 100%;
}
#main{
    width: 1080px;
    min-height: 1000px;
    margin: auto;
    position: relative;
}
#communitySection{
	position:relative;
	top:20px;
}
#communityTabWrap {
    height: 100px;
}
#communityTabWrap ul{
    height: 80px;
}
#communityTabWrap li{
    float: left;
    height: 60px;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: 700;
    cursor:pointer;
    color: #EEEEEE;
}
#communityTabWrap .community_tab_on{
    color: red;
}

#communityContentWrap{
    height: 600px;
}

#mywriteContentBox{
    width: 900px;
    position: absolute;
    display: none;
}

.mypage_community_card{
    position: relative;
    margin-top: 20px;
    height: 20px;
}
.mypage_community_card div{
    position: absolute;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.mypage_community_card .content_num{
    font-size: 15px;
    line-height: 25px;
    left: 8px;
}
.content_tit{
    left: 70px;
    cursor: pointer;
}
.content_date{
    right: 30px;
}

#mywriteReplyBox{
    width: 900px;
    position: absolute;
    display: none;
}

#mywriteCommentBox{
    width: 900px;
    position: absolute;
}

.contnet_movie{
    right: 200px;
}

.content_tit:hover{
    color: red;
}

#communityTabWrap li:hover{
    color:#F9AC1A;
}



/* 0801 추가 */
#tabSectionUserPage {
    position: relative;
    background: lemonchiffon;
    width: 1080px;
    height: 80px;
}

/*지은*/
li {
    list-style: none;
}

#headerNavMypage {
    overflow: hidden;
    height: 40px;
    background-color: #231F20;
    padding: 20px;

}

#headerNavMypage li {
    font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #f9f9f9;
    float: left;
    margin-left: 50px;
    cursor: pointer;
    padding: 5px;

}

#headerNavMypage #nicknameHeaderMypage {
    cursor: default;
    pointer-events: none;
	font-size: 30px;
    vertical-align: middle;
    color: #F9AC1A;
}

#content .header_myPage_tabbed {
    border-bottom: 4px solid #F9AC1A;
    color: #F9AC1A;
}

#communityEmpty {
    width: 1080px;
    height: 200px;
    font-size: 40px;
    color: #fafafa;
    text-align: center;
    position: relative;
    top: 200px;
    font-weight: bold;
}


/*
페이징 CSS
*/
.paginate {
	font-size:14px;
	text-align:center;
	height:50px;
	line-height:50px;
	font-weight:500;
	margin: 10px;
	position: relative;
}

.paginate a, 
.paginate span,
.paginate strong{
	color:#858585;
	text-decoration:none;
	padding:5px 10px;
	border:1px solid transparent;
	transition:.1s ease;
}

.paginate span {
	border-color:#E1E1E1;
	cursor: not-allowed;
}

.paginate a:hover {
	background:#14BAB6;
	border-color:#fff;
	font-weight:bold;
	color:#fff;
}

.paginate strong {
	background:#f9ac1a;
	border-color:#f9ac1a;
	color:#fff;
	cursor: not-allowed;
	font-weight:bold;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.screen_out{
	display:none;
}

.mypage_community_card .top{
	color:#F9AC1A;
	top:-15px;
	font-size:25px;
	cursor : default;
}

.content_tit_top {
	left:200px;
}

.mypage_community_card .content_num_top {
	left:0;
}
