@charset "UTF-8";

        body{
            background-color: #231F20;
            font-family: "Noto Sans KR",sans-serif;
        }
        #passwordUpdateBox{
            width: 500px; height: 500px;
            background-color: #eeeeee;
            position: fixed;
            left: 50%; top:50%;
            margin-left: -250px; margin-top: -250px;
        }
        .pwdFind_img{
            width: 280px; height: 100px;
            display: block;
            margin: auto;
            margin-top: 50px;
        }
        #passwordUpdateBox h2{
            text-align: center;
        }
        #passwordUpdateBox input{
            display: block;
            margin: auto;
            margin-bottom: 40px;
            width: 230px; height: 30px;
        }

        #passwordUpdateBtn{
            display: block;
            margin: auto;
            width: 230px; height: 50px;
            border-radius: 10px;
            border-style: none;
            outline: none;
            font-size: 24px;
            background-color: #F9AC1A;
            font-family: "Noto Sans KR",sans-serif;
            color:#f9f9f9;
        }