@charset "UTF-8";

  #content {
            width: 1080px;

            background-color: #231F20;
            font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
            margin: auto;

        }

        .header_logo_survey img {
            width: 200px;
            margin-top: 20px;

        }

        .header_logo_survey {
            text-align: center;

        }

        #currentCheeckedMovieNum {
            color: #f9f9f9;
            font-size: 25px;
        }

        #signTextSurvey {
            color: #f9f9f9;
            font-size: 18px;
        }

        .btn {
            border: none;
            background-color: #F9AC1A;
            color: #231F20;
            font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: bold;
        }

        #doneSurveyHrefBtn {
            position: relative;
            left: 300px;
        }

        .movieSection_survey {

            width: 1080px;

            background-color: #231F20;
        }

        .survey_movie_li {
            color: #f9f9f9;
            list-style: none;
            overflow: hidden;
            margin-top: 30px;
        }

        .survey_movie_img {
            float: left;
            position: relative;
        }

        .survey_movie_info {
            margin-top: 10px;
            margin-left: 220px;
            position: absolute;
        }
        .survey_movie_info p{
        	margin-top:10px;
        }

        .movie_title_survey {
            font-size: 25px;
        }

        .movie_title_openDay {
            font-size: 17px;
        }

        .movie_title_contry {
            font-size: 15px;
        }
        #movieListUlSurvey{
            margin-top: 80px;
            padding-bottom: 60px;
        }
        
        .survey_movie_img img{
        	width: 200px;
        	height: 250px;
        
        }

        /*==============별 CSS*/
        .starR1{
            background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
            background-size: auto 100%;
            width: 15px;
            height: 30px;
            float:left;
            text-indent: -9999px;
            cursor: pointer;
        }
        .starR2{
            background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
            background-size: auto 100%;
            width: 15px;
            height: 30px;
            float:left;
            text-indent: -9999px;
            cursor: pointer;
        }
        .starR1.on{background-position:0 0;}
        .starR2.on{background-position:-15px 0;}
        /*==============별 CSS end*/
        #progressbar{
            height: 15px;
            margin-top: 30px;
        }
        .ui-widget-header{
            border: 1px solid #F9AC1A;
            background: #F9AC1A;
            color: #231F20;
        }
        /*==============progressbar CSS*/





        /*==============progressbar CSS end*/