<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="events">
	<select id="eventList" resultType="Event" parameterType="int">
		SELECT no, member_no memberNo,title,contents, start_date
		startDate,end_date endDate,regdate
		FROM events
		WHERE member_no = #{memberNo}
	</select>
</mapper>